.navigation {
  display: flex;
  margin-left: auto;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1rem;
  margin: 0;
}
.navigation a {
  text-decoration: none;
  color: #3e3e3e;
}
.navigation a:hover {
  text-decoration: none;
  color: #595959;
}
.navigation li {
  list-style-type: none;
  padding: 0 1rem;
}
.active {
  color: #10c9c3 !important;
}
.logo {
  height: 1rem;
  margin-right: auto;
  padding: 0 2rem;
}
.-container {
  color: #1a1a1a;
  text-align: center;
}
.dark-- {
  background-color: #3e3e3e;
}
.dark-- * {
  color: white;
}
.color-- {
  background-color: #10c9c3;
  color: white;
}
.light-- {
  background-color: #f5f5f5;
  color: #1a1a1a;
  text-align: left !important;
}
.icon {
  color: white;
}

.icon-text {
  display: inline-block;
  color: white;
  margin-left: 1rem;
  text-align: left;
}
.image {
  height: 400px;
  background-image: url("https://picsum.photos/400");
  display: inline-block;
  background-size: cover;
}

.image-square {
  height: 300px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  display: flex;
  justify-content: center;
  z-index: 0;
}
.eye {
  background-image: url("./vendor/icons/SVG/look.svg");
  height: 30px;
  width: 30px;
  display: block;
  align-self: center;
  opacity: 0;
}

.image-square:before {
  content: "";
  background: rgba(16, 201, 195, 0.7) url(/static/media/look.c7075aa6.svg)
    no-repeat 50% 50%;
  position: absolute;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  transition: all 0.3s;
}
.image-square:hover:before {
  opacity: 1;
}

.content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: auto 4rem;
}
.btn {
  background-color: #10c9c3;
  border: none;
  padding: 1rem 3rem;
  color: white;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1.5rem;
}
.link {
  position: relative;
  width: 100%;
  height: 100%;
}
.Map {
  position: relative;
  width: 100%;
}
.footer-container {
  background-color: #1a1a1a;
  color: #f5f5f5;
  padding: 4rem;
}
.footer-container ul {
  padding: 0;
  list-style: none;
}
form input,
form textarea {
  padding: 0.5rem;
  border: none;
  font-size: 0.8rem;
  display: block;
  width: 100%;
}
textarea {
  height: 5rem;
}
