.text-upper {
  text-transform: uppercase;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-4 {
  padding: 2rem;
}
.p-5 {
  padding: 4rem;
}
.pr-0 {
  padding-right: 0;
}
.pr-3 {
  padding-right: 1rem;
}
.pl-1 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.px-auto {
  padding-right: auto;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.5rem;
}
.m-2 {
  margin: 1rem;
}
.m-3 {
  margin: 2rem;
}
.m-5 {
  margin: 4rem;
}
.ml-0 {
  margin-left: 0;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 2rem;
}
.mx-4 {
  margin: 0 2rem;
}
.my-3 {
  margin: 1rem 0;
}
.flex-col-center {
  flex-direction: column;
  margin: auto;
}
.display-ib {
  display: inline-block;
}
